# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# Preprocessed images
*_preprocessed.png

# Uploaded test images
*.jpeg
*.jpg
*.png
*.bmp
*.jfif
*.tif
*.tiff

# OS
.DS_Store
Thumbs.db

# Documentation
DOCUMENTATION.md

# Credentials
credentials.json